body
{
	padding-top:20px;
	padding-left:20px;
}

section
{
	border-style: solid;
	border-radius: 25px;
	border-width:10px;
    background: #8AC007;
    padding: 20px;
	width: 200px;
    height: 325px; 
}